In [ ]:
import sys
from PyQt5.QtWidgets import *
from PyQt5.QtGui import *
import matplotlib.pyplot as plt
from matplotlib.backends.backend_qt5agg import FigureCanvasQTAgg as FigureCanvas
import pandas_datareader.data as web
import pandas as pd
from pandas import Series, DataFrame

class MyWindow(QWidget):
    def __init__(self):
        super().__init__()
        self.setupUI()

    def setupUI(self):
        self.setGeometry(600, 200, 1200, 600)
        self.setWindowTitle("PyChart Viewer v0.1")
        self.setWindowIcon(QIcon('icon.png'))

        self.lineEdit = QLineEdit()
        self.pushButton = QPushButton("차트그리기")
        self.pushButton.clicked.connect(self.pushButtonClicked)

        self.fig = plt.Figure()
        self.canvas = FigureCanvas(self.fig)

        leftLayout = QVBoxLayout()
        leftLayout.addWidget(self.canvas)

        # Right Layout
        rightLayout = QVBoxLayout()
        rightLayout.addWidget(self.lineEdit)
        rightLayout.addWidget(self.pushButton)
        rightLayout.addStretch(1)

        layout = QHBoxLayout()
        layout.addLayout(leftLayout)
        layout.addLayout(rightLayout)
        layout.setStretchFactor(leftLayout, 1)
        layout.setStretchFactor(rightLayout, 0)

        self.setLayout(layout)

    def pushButtonClicked(self):
        code = self.lineEdit.text()
        df = web.DataReader(code, "yahoo")
        df['MA20'] = df['Adj Close'].rolling(window=20).mean()
        df['MA60'] = df['Adj Close'].rolling(window=60).mean()

        ax = self.fig.add_subplot(111)
        ax.plot(df.index, df['Adj Close'], label='Adj Close')
        ax.plot(df.index, df['MA20'], label='MA20')
        ax.plot(df.index, df['MA60'], label='MA60')
        ax.legend(loc='upper right')
        ax.grid()

        self.canvas.draw()

if __name__ == "__main__":
    app = QApplication(sys.argv)
    window = MyWindow()
    window.show()
    app.exec_()

In [ ]:
import sqlite3

In [ ]:
sqlite3.version

In [ ]:
sqlite3.sqlite_version

In [ ]:
con = sqlite3.connect('C:/Users/hyunchel/kospi.db')

In [ ]:
type(con)

In [ ]:
cursor = con.cursor()

In [ ]:
cursor.execute("CREATE TABLE kakao(Date text, Open int, High int, Low int, Closing int, Volumn int)")

In [ ]:
cursor.execute("INSERT INTO kakao VALUES('16.06.03', 97000, 98600, 96900, 98000, 321405)")

In [ ]:
cursor.execute("INSERT INTO kakao VALUES('16.06.02', 99000, 99300, 96300, 97500, 556790)")

In [ ]:
con.commit()

In [ ]:
con.close()

In [1]:
import sqlite3
con = sqlite3.connect('C:/Users/hyunchel/kospi.db')
cursor = con.cursor()
cursor.execute("SELECT * FROM kakao")

In [2]:
cursor.fetchone()

('16.06.03', 97000, 98600, 96900, 98000, 321405)

In [3]:
cursor.fetchone()

('16.06.02', 99000, 99300, 96300, 97500, 556790)

In [4]:
cursor.fetchone()

In [6]:
cursor.execute("SELECT * FROM kakao")
kakao = cursor.fetchall()
kakao

[('16.06.03', 97000, 98600, 96900, 98000, 321405),
 ('16.06.02', 99000, 99300, 96300, 97500, 556790)]

In [8]:
import pandas as pd
from pandas import Series, DataFrame
raw_data = {'col0': [1, 2, 3, 4], 'col1': [10, 20, 30, 40], 'col2':[100, 200, 300, 400]}
df = DataFrame(raw_data)
df

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [9]:
import sqlite3
con = sqlite3.connect('C:/Users/hyunchel/kospi.db')

In [10]:
df.to_sql('test', con)

In [15]:
df = pd.read_sql("SELECT * FROM test", con, index_col = 'index')
df

       col0  col1  col2
index
0         1    10   100
1         2    20   200
2         3    30   300
3         4    40   400

In [16]:
import pandas as pd
import pandas_datareader.data as web
import datetime
import sqlite3
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2016, 6, 12)
df = web.DataReader("078930.KS", "yahoo", start, end)

In [17]:
con = sqlite3.connect("c:/Users/hyunchel/kospi.db")
df.to_sql('078930', con, if_exists='replace')

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [18]:
readed_df = pd.read_sql("SELECT * FROM '078930'", con, index_col = 'Date')
readed_df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-01-04 00:00:00,34050.0,33500.0,33500.0,33750.0,237735.0,27447.957031
2010-01-05 00:00:00,34500.0,33600.0,33950.0,33900.0,440485.0,27569.951172
2010-01-06 00:00:00,34900.0,33900.0,33900.0,34250.0,534581.0,27854.591797
2010-01-07 00:00:00,35100.0,34300.0,34350.0,34600.0,543769.0,28139.236328
2010-01-08 00:00:00,35100.0,34200.0,34700.0,34450.0,553288.0,28017.250000
2010-01-11 00:00:00,35250.0,34650.0,34700.0,34800.0,553690.0,28301.890625
2010-01-12 00:00:00,35000.0,33700.0,34900.0,34100.0,379617.0,27732.603516
2010-01-13 00:00:00,35100.0,34200.0,34200.0,34600.0,757416.0,28139.236328
2010-01-14 00:00:00,36150.0,34750.0,35000.0,35550.0,1369075.0,28911.851562
2010-01-15 00:00:00,37500.0,35500.0,35550.0,37500.0,913228.0,30497.730469
2010-01-18 00:00:00,37700.0,37050.0,37200.0,37450.0,487516.0,30457.066406
2010-01-19 00:00:00,38700.0,37200.0,37600.0,37850.0,869140.0,30782.369141
2010-01-20 00:00:00,38000.0,36500.0,37750.0,36700.0,518634.0,29847.111328
2010-01-21 00:00:00,37650.0,35950.0,36450.0,37500.0,492070.0,30497.730469
2010-01-22 00:00:00,37250.0,35500.0,36800.0,35500.0,757846.0,28871.185547
2010-01-25 00:00:00,35050.0,34150.0,34900.0,34650.0,663454.0,28179.902344
2010-01-26 00:00:00,35200.0,34250.0,34800.0,34750.0,419679.0,28261.232422
2010-01-27 00:00:00,36350.0,34400.0,34950.0,35350.0,768301.0,28749.195312
2010-01-28 00:00:00,35950.0,35250.0,35700.0,35500.0,341701.0,28871.185547
2010-01-29 00:00:00,35200.0,33900.0,35000.0,34550.0,498920.0,28098.576172
2010-02-01 00:00:00,34650.0,34000.0,34550.0,34500.0,237983.0,28057.910156
2010-02-02 00:00:00,35400.0,33100.0,35400.0,34200.0,796832.0,27813.927734
2010-02-03 00:00:00,35400.0,34400.0,34700.0,34850.0,357028.0,28342.556641
2010-02-04 00:00:00,36350.0,34850.0,35000.0,36100.0,659231.0,29359.146484
2010-02-05 00:00:00,36100.0,34950.0,35000.0,35850.0,644162.0,29155.832031
2010-02-08 00:00:00,36200.0,35400.0,36000.0,35750.0,410137.0,29074.503906
2010-02-09 00:00:00,36100.0,35450.0,35750.0,35800.0,518617.0,29115.166016
2010-02-10 00:00:00,36500.0,35700.0,36500.0,35800.0,279412.0,29115.166016
2010-02-11 00:00:00,37750.0,36000.0,36150.0,37400.0,656409.0,30416.400391
2010-02-12 00:00:00,37900.0,37100.0,37350.0,37100.0,330694.0,30172.423828
...,...,...,...,...,...,...
2016-04-28 00:00:00,56700.0,55300.0,56300.0,56100.0,196438.0,52879.324219
2016-04-29 00:00:00,56200.0,54700.0,56100.0,55300.0,136938.0,52125.253906
2016-05-02 00:00:00,55800.0,54900.0,55200.0,55000.0,70424.0,51842.476562
2016-05-03 00:00:00,55700.0,54600.0,55000.0,55300.0,125228.0,52125.253906
2016-05-04 00:00:00,54700.0,52500.0,54400.0,52800.0,326297.0,49768.777344
2016-05-09 00:00:00,52900.0,51200.0,52500.0,52900.0,215460.0,49863.035156
2016-05-10 00:00:00,53700.0,52200.0,52900.0,53400.0,147223.0,50334.332031
2016-05-11 00:00:00,53900.0,52500.0,53700.0,53500.0,259851.0,50428.589844
2016-05-12 00:00:00,53300.0,52500.0,52900.0,53000.0,157029.0,49957.296875
2016-05-13 00:00:00,53400.0,51500.0,53000.0,51600.0,270578.0,48637.667969
2016-05-16 00:00:00,51900.0,50800.0,51200.0,51600.0,208531.0,48637.667969
2016-05-17 00:00:00,52900.0,51300.0,52100.0,51800.0,293418.0,48826.187500
2016-05-18 00:00:00,51900.0,50200.0,51800.0,51200.0,236415.0,48260.632812
2016-05-19 00:00:00,51500.0,50500.0,50900.0,50800.0,212614.0,47883.597656
2016-05-20 00:00:00,51100.0,50500.0,50500.0,50500.0,256066.0,47600.820312
2016-05-23 00:00:00,51800.0,50500.0,50800.0,51300.0,170768.0,48354.890625
2016-05-24 00:00:00,51400.0,50300.0,51300.0,50800.0,175951.0,47883.597656
2016-05-25 00:00:00,51900.0,51000.0,51200.0,51600.0,166725.0,48637.667969
2016-05-26 00:00:00,52400.0,51700.0,51900.0,51900.0,124644.0,48920.449219
2016-05-27 00:00:00,53400.0,51800.0,51800.0,52900.0,204785.0,49863.035156
2016-05-30 00:00:00,53100.0,51900.0,52800.0,52700.0,143573.0,49674.519531
2016-05-31 00:00:00,52800.0,51700.0,52600.0,52400.0,320661.0,49391.738281
2016-06-01 00:00:00,52600.0,51400.0,52000.0,51500.0,211979.0,48543.406250
2016-06-02 00:00:00,52200.0,50900.0,51200.0,51400.0,158463.0,48449.152344
2016-06-03 00:00:00,51800.0,50500.0,51500.0,51000.0,153289.0,48072.117188
2016-06-07 00:00:00,53000.0,50800.0,51300.0,52800.0,239192.0,49768.777344
2016-06-08 00:00:00,52900.0,51700.0,52800.0,52200.0,244817.0,49203.222656
2016-06-09 00:00:00,52500.0,50800.0,52500.0,51000.0,325226.0,48072.117188
2016-06-10 00:00:00,51500.0,50900.0,51100.0,51300.0,152457.0,48354.890625
2016-06-13 00:00:00,52000.0,50800.0,50900.0,51700.0,163287.0,48731.929688